.profile-banner {
  display: flex;
  justify-content: center;
}

.more-info {
  background-color: #FBF5F3;
}

.profile-display {
  display: flex;
  justify-content: center;
}

.profile-display h6 {
  padding: 20px;
}

.info-text {
  width: 500px;
  padding: 50px;
}
