<div class="container pt-4">
  <div class="profile-banner">
    <div>
      <img class="avatar-large pb-3" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="text-center">Rating:</p>
    </div>
    <div class="pl-5">
      <h4><%= @mentor.user.name %></h4>
      <h5><%= @mentor.user.job_title %></h5>
      <p><%= @mentor.user.description %></p>
      <p><%= @mentor.user.location %></p>
    </div>
  </div>
</div>
